/* ========================================
   PNGSA STUDENT MAP
======================================== */

.student-map-section {
    padding: 40px 0 70px;
}

.student-map-container {
    width: 100%;
    height: 750px;

    overflow: hidden;

    border-radius: 16px;

    box-shadow:
        0 10px 35px rgba(0, 0, 0, 0.25);
}

.student-map-container iframe {
    display: block;

    width: 100%;
    height: 100%;

    border: none;
}


/* ========================================
   TABLET
======================================== */

@media (max-width: 1000px) {

    .student-map-container {
        height: 700px;
    }

}


/* ========================================
   MOBILE
======================================== */

@media (max-width: 768px) {

    .student-map-section {
        padding: 25px 0 50px;
    }

    .student-map-container {
        width: 100%;
        height: 650px;

        border-radius: 10px;
    }

}